/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out;
}
